<h1>Your Shopping Cart</h1>

<ul>
<% @order.order_items.each do |item| %>
  <li>
    <%= item.book.title %>
    $<%= item.book.price %>
    Qty:<%= item.quantity %>
    Price: $<%= (item.book.price)*(item.quantity)%>
  </li>
<% end %>
<ul>

<hr>

<p>Pay this amount: $<%= cart_cost%></p>
<%= link_to 'Pay Now', {:controller => "charges", :action => "new", :amount => cart_cost.*(100) } %>
